.header {
    display: flex;
    align-items: center;
    gap: 94px;
    padding-top: 48px;
    padding-bottom: 48px;
    box-sizing: border-box;
}

.nav__ul {
    display: flex;
    gap: 94px;
    align-items: center;
}

.header__logo {
    background: var(--green_gradient_logo);
    /*hint: чтобы заработал градиент на тексте*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}