.hero {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.hero__title {
    font-size: 80px;
    font-weight: 800;
}

.hero__description {
    color: var(--white2);
    font-size: 20px;
    font-weight: 400;
}

.hero__title__span, .advantage__count__span {
    color: var(--green1);
}

.hero__btn_container {
    display: flex;
    gap: 16px;
}

.hero__advantages {
    display: flex;
    gap: 50px;
}

.advantage__count {
    color: var(--white1);
    font-size: 62px;
    font-weight: 400;
}

.advantage__name {
    color: var(--white2);
    font-size: 20px;
    font-weight: 400;
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 170px;
    padding-left: 130px;
}

/*TODO:*/
/**Подозрительный блок с отступами. Надо тестить*/
.hero__background__text {
    position: relative;
    color: var(--white1);
    font-size: 40px;
    width: 230px;
    height: 230px;
    box-sizing: border-box;
    transform: rotate(-15deg) translate(300px, 10px);
    background: url('/img/icon/star-icon.svg');
    background-repeat: no-repeat;
    z-index: 1000;
}

.hero__background__text::before {
    position: absolute;
    content: '45%';
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    pointer-events: none;
    transform: translateY(-15%) translateX(-30%);
}
/****************************/
.hero__container__background {
    position: relative;
}
.hero__background__image {
    position: absolute;
    background-image: url('/img/icon/logo.svg');
    background-size: cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-width: 600px;
}