.plus_box {
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}
.plus_info {
    position: absolute;
    left: 25px;
    top: -50px;
}

.plus_container {
    display: flex;
    gap: 138px;
    background: linear-gradient(230.31deg, rgb(255, 255, 255) 5.066%, rgb(229, 229, 229) 64.202%, rgb(251, 251, 251) 88.339%);
    margin: 0 auto;
    margin-top: 65px;
    padding: 41px 82px;
    box-sizing: border-box;
    border-radius: 46px;
    
}

.plus_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.plus_item_background {
    width: 148px;
    height: 148px;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.39);
    background: linear-gradient(244.98deg, rgb(35, 114, 73) 20.735%, rgb(53, 198, 107) 82.603%);
    border-radius: 50%;
}

.tasty__background {
    transform: translateX(5px) translateY(-15px);
}

.fast__background {
    transform: translateX(-35px) translateY(-15px);
}

.available__background {
    transform: translateX(-25px) translateY(0px);
}

.plus_item__title {
    margin-top: 20px;
    color: var(--black1);
    font-size: 32px;
    font-weight: 500;
}

.plus_item__description {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

